body {
	background: #80d9ff; /* #66d1ff  /* #26a8e0; */
	color: black;
	font-family: 'CopseRegular', sans-serif;
	font-size: 16px;
	font-size: 0.75em;
	line-height: 1.75em;
}
img {
	position: absolute;
	left: 0px;
	top: 0px;
}

/****************************************************************************************
 TYPOGRAPHY                                                                            */

h1 {
	font-size: 1.5em;
	text-transform: uppercase;	
	border-bottom: 1px dotted black;
	margin-bottom: 0.75em;
}
p {
	margin-bottom: 0.5em;
}
a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover {
	color: #ffbe0a;
	text-decoration: underline;
	cursor: pointer;
}
a.left {
	top: 40px;
	left: 11px;
	display: none;
	z-index: 5;
}
a.right {
	top: 40px;
	left: 577px;
	display: none;
	z-index: 5;
}
.center a.left,
.center a.right {
	display: block;
}
a.left:hover img.hover,
a.right:hover img.hover {
	display: block;
}
a.left:hover img.display,
a.right:hover img.display {
	display: none;
}

/****************************************************************************************
 STRUCTURE                                                                             */

nav {
	width: 100%;
	margin: 0 auto;
}
nav img {
	position: fixed;
	top: 120px;
	left: 20px;
	z-index: 6;
	padding: 10px 8px 15px 8px;
	border: 2px solid #ffbe0a;
	background-color: white;
	opacity: 0.95;	
}
div#slideshow {
	white-space: nowrap;
	width: 100%;
	height: 3000px;
	overflow: hidden;
	position: relative;
	display: inline-table;
}

/****************************************************************************************
 LISTS                                                                                 */

dl {
	position: fixed;
	width: 150px;
	height: 180px;
	top: 390px;
	left: 20px;
	z-index: 6;
	padding: 10px 8px 15px 8px;
	border: 2px solid #ffbe0a;
	background-color: white;
	opacity: 0.9;
}
ul.slides {
	position: absolute;
}
ul a {
	position: absolute;
}
li.slide {
	border-top: 6px double #ffbe0a;
	border-bottom: 6px double #ffbe0a;
	display: inline-block;
/*	display: block;*/
	vertical-align: top;
	position: relative;
	width: 640px;
	height: 750px;
	text-align: center;
}
li.one {
	background: url('../images/pattern_1.jpg');	
}
li.two {
	background: url('../images/pattern_2.jpg');
}
li.three {
	height: 3000px;
	background: url('../images/pattern_3.jpg');
}
li.four {
	background: url('../images/pattern_4.jpg');
}
li.five {
	height: 1100px;
	background: url('../images/pattern_5.jpg');
}
li.six {
	background: url('../images/pattern_6.jpg');
}
li.seven {
	background: url('../images/pattern_7.jpg');	
}
ol li,
li.slide ul li {
	position: absolute;
}
ol li a,
li.slide ul li a {
	position: absolute;
	top: 270px;
	width: 260px;
	text-align: center;
}
li.slide figcaption {
	display: block;
	text-align: left;
	white-space: normal;
	position: absolute;
	width: 180px;
	height: 210px;
	z-index: 6;
	display: none;
	top: 15px;
	border: 1px solid #ffbe0a;
	background: url('../images/pattern_2.png');
	padding: 13px 10px;
	overflow: hidden;
}
li.slide figcaption a {
	position: static !important; 
}
li.slide figcaption.left {
	left: -180px;
}
li.slide figcaption.right {
	left: 250px;
}
ol li:hover figcaption,
li.slide ul li:hover figcaption {
	display: block;
}
.hover {
	display: none;
}
li.slide ul li:hover img.hover,
ol li:hover img.hover {
	display: block;
}

/****************************************************************************************
 SLIDES                                                                                */

/*** 1 ***/
#jim_suchy {
	left: 200px;
	top: 40px;
}
#mike_jansen {
	top: 400px;
	left: 280px;
}

/*** 2 ***/
#craig_demyanovich {
	top: 15px;
	left: 200px;
}
#michael_baker {
	top: 350px;
	left: 100px;
}

/*** 3 ***/
#micah_martin {
	top: 10px;
	left: 200px;
}
#micah_martin a {
	top: 300px;
	left: 7px;
}
#justin_martin {
	top: 350px;
	left: 10px;
}
#justin_martin a {
	width: 230px;
	top: 235px;
}
#paul_pagel {
	top: 420px;
	left: 300px;
}
#eric_meyer {
	top: 740px;
	left: 375px;
}
#brian_pratt {
	top: 1050px;
	left: 380px;
}
#kevin_liddle {
	top: 1370px;
	left: 380px;
}
#patrick_gombert {
	top: 1680px;
	left: 380px;
}
#colin_jones {
	top: 700px;
	left: 0px;
}
#mark_grant {
	top: 1020px;
	left: 5px;
}
#steve_kim {
	top: 1360px;
	left: 20px;
}
#dave_moore {
	top: 1670px;
	left: 20px;
}
#myles_megyesi {
	top: 1990px;
	left: 20px;
}
#wai_lee_chin_feman {
	top: 2300px;
	left: 20px;
}
#chris_peak {
	top: 2620px;
	left: 20px;
}

/*** 4 ***/
#billy_whited {
	top: 70px;
	left: 200px;
}
#billy_whited a {
	width: 230px;
	top: 235px;
}
#stephanie_briones {
	top: 350px;
	left: 70px;
}

/*** 5 ***/
#doug_bradbury {
	top: 30px;
	left: 170px;
}
#li-hsuan_lung {
	top: 420px;
	left: 40px;
}
#josh_cheek {
	top: 390px;
	left: 330px;
}
#cymen_vig {
	top: 750px;
	left: 230px;
}

/*** 6 ***/
#cory_foy {
	top: 15px;
	left: 100px;
}
#justin_herrick {
	top: 350px;
	left: 200px;
}

/*** 7 ***/
#eric_smith {
	left: 170px;
}
#steven_degutis {
	top: 350px;
	left: 40px;
}
#dariusz_pasciak {
	top: 400px;
	left: 350px;
}

/****************************************************************************************
 @MEDIA                                                                                */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
	nav {
		display: none;
	}
	div#slideshow {
		width: 640px;
		height: 8000px;
		margin: 0 auto;
	}
	li.slide {
		display: block;
	}
	a.left img,
	a.right img {
		display: none;
	}
	figcaption.left,
	figcaption.right {
		left: 30px;
		top: 270px;
	}
}
@media only screen and (max-device-width: 480px) {
	nav {
		display: none;
	}
	div#slideshow {
		width: 640px;
		height: 8000px;
		margin: 0 auto;
	}
	li.slide {
		display: block;
	}
	a.left img,
	a.right img {
		display: none;
	}
	figcaption.left,
	figcaption.right {
		left: 30px;
		top: 300px;
	}
}

@media only screen and (max-width: 640px) {
	nav {
		display: none;
	}
	div#slideshow {
		width: 640px;
		height: 8000px;
		margin: 0 auto;
	}
	li.slide {
		display: block;
	}
	a.left img,
	a.right img {
		display: none;
	}
	figcaption.left,
	figcaption.right {
		left: 30px;
		top: 300px;
	}
}

/****************************************************************************************
 @FONT-FACE                                                                            */

@font-face {
	font-family: 'CopseRegular';
	src: url('../fonts/Copse-Regular-webfont.eot');
	src: url('../fonts/Copse-Regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Copse-Regular-webfont.woff') format('woff'),
			 url('../fonts/Copse-Regular-webfont.ttf') format('truetype'),
			 url('../fonts/Copse-Regular-webfont.svg#CopseRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}